[submodule "/Users/guillaumequispe/thesis/code/cosmos/yui-docs/contracts/minitoken/solidity/contracts/ibc"]
	path = /Users/guillaumequispe/thesis/code/cosmos/yui-docs/contracts/minitoken/solidity/contracts/ibc
	url = "https://github.com/hyperledger-labs/yui-ibc-solidity.git#v0.3.3"
